@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: #00f;
}

body {
	background-color: #27556c;
}

#wrapper {
	width: 65%;
	margin: 1em auto;
	background-color: #6e91a1;
	border-radius: .5em;
}

header {
	text-align: center;
	padding: 1em;
}

nav {
	width: 18%;
	float: left;
	padding: 1%;
}

nav a {
	display: block;
	padding: .5em 0;
	text-decoration: none;
	border-left: 4px solid #6e91a1;
}

nav a:hover {
	border-left: 4px solid #032536;

}

main {
	width: 77%;
	float: right;
	margin-right: 1%;
	padding: 1%;
	background-color: #477286;
}

main p, main form {
	padding: 0 2em;
}

main form input {
	margin: .5em 2em;
	width: 25em;
}

main form label {
	padding: 0 1em;
}

main form button {
	width: 20%;
	padding: .5em 2em;
	margin: 0 auto;
	margin: .5em 2em;
}

input[type=submit], button {
	width:100%;
	background-color:#032637;
	color:#fff;
	border:2px solid #000;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	margin:6px 0 0;
	box-sizing: border-box;
}

footer {
	clear: both;
	text-align: center;
	padding: 1em;
}
